@import './controls.scss';


.swal2-popup {
  background: #19191a !important;
}
.swal2-content, .swal2-title {
  color: #dcdcdc !important;
}

.swal2-select {
  background: #dcdcdc !important;
  color: #19191a !important;
}
body {
  background: #111;
  font-family: Arial, Helvetica, sans-serif;
}

.page{
  position: relative;
}
.container {
  width: 90%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  canvas {
    margin: 10px 0;
    box-shadow: 4px 4px 6px #333;
  }
}