@import './controls.scss';
body {
  background: #111;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  canvas {
    margin: 10px 0;
    box-shadow: 4px 4px 6px #333;
  }
}